.how-to-use {
  margin-top: 100px;
  background-color: $whiteBackg;
  border-radius: 120px;
  img {
    object-fit: contain;
  }
  .how-to-use__items {
    display: flex;
    justify-content: space-evenly;
    .how-to-use__item {
      margin-top: 80px;
      width: 60%;
      margin-left: 100px;
      h2 {
        padding-bottom: 32px;
        font-weight: 700;
        font-size: 68px;
        line-height: 105%;
        color: $blue;
      }
      span {
        font-weight: 500;
        font-size: 23px;
        line-height: 130%;
        color: $grey;
      }
    }
  }
  .send-passport {
    margin-top: 54px;
    border-radius: 120px;
    background: #a565f5;
    display: flex;
    justify-content: space-evenly;
    .send-passport-item {
      padding-bottom: 94px;
      width: 60%;
      margin-left: 60px;

      h2 {
        padding-top: 64px;
        padding-bottom: 32px;
        font-weight: 700;
        font-size: 60px;
        line-height: 105%;
        color: $white;
      }
      span {
        font-weight: 500;
        font-size: 32px;
        line-height: 130%;
        color: $white;
      }
    }
    img {
      padding-top: 130px;
      width: 20%;
    }
  }
  @include for-small-phone-only {
    margin-top: 50px;
    border-radius: 50px;
    img {
      width: 45%;
      object-fit: contain;
    }
    .how-to-use__items {
      width: 100%;
      display: block;
      .how-to-use__item {
        text-align: center;
        margin-top: 0px;
        width: 100%;
        margin-left: 0px;
        h2 {
          padding-top: 50px;
          font-size: 35px;
        }
        span {
          font-size: 19px;
        }
      }
    }
    .send-passport {
      border-radius: 50px;
      margin-top: 0px;
      display: block;
      .send-passport-item {
        width: 100%;
        margin-left: 0;
        text-align: center;
        padding-bottom: 20px;
        h2 {
          padding-top: 50px;

          font-size: 35px;
        }
        span {
          font-size: 19px;
        }
      }
      img {
        padding-top: 0;
        width: 40%;
        margin-left: 50%;
      }
    }
  }
  @include for-tablet-portait-only {
    margin-top: 50px;
    border-radius: 100px;
    img {
      width: 30%;
    }
    .how-to-use__items {
      display: block;
      .how-to-use__item {
        text-align: center;
        margin-top: 0px;
        width: 100%;
        margin-left: 0px;
        h2 {
          padding-top: 50px;
          font-size: 50px;
        }
        span {
          font-size: 22px;
        }
      }
    }
    .send-passport {
      border-radius: 100px;
      margin-top: 0px;
      display: block;
      .send-passport-item {
        margin-left: 0;
        text-align: center;
        padding-bottom: 20px;
        width: 100%;
        h2 {
          padding-top: 50px;
          font-size: 50px;
        }
        span {
          font-size: 22px;
        }
      }
      img {
        padding-top: 0;
        width: 20%;
        margin-left: 50%;
      }
    }
  }
}
