.header {
  margin-top: 100px;
  text-align: center;
  h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 105%;
    margin-bottom: 10px;
  }
  h6 {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: $grey;
    margin-bottom: 30px;
  }
  .iphone {
    width: 22%;
    margin-left: 30px;
  }
  span {
    color: $grey;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    display: block;
    margin-bottom: 17px;
    strong {
      color: $black;
    }
  }
  .buttons {
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
    width: 347px;
  }
  @include for-small-phone-only {
    margin-top: 70px;
    h1 {
      font-size: 35px;
    }
    h6 {
      font-size: 16px;
    }
    .iphone {
      width: 50%;
    }
    .buttons {
      width: auto;
    }
  }
}
