.footer {
  background-color: #313131;
  padding-top: 133px;
  color: $white;
  .our-app {
    position: relative;
    background: #d0f203;
    border-radius: 100px;
    padding: 50px;
    min-height: 400px;
    .our-app__iphone {
      position: absolute;
      right: 40px;
      top: 50px;
    }

    h2 {
      margin-top: 20px;
      font-weight: 600;
      font-size: 56px;
      line-height: 120%;
    }
    strong {
      font-weight: 600;
      font-size: 28px;
      line-height: 34px;
    }
  }
  .buttons {
    display: flex;
    padding-top: 45px;
    justify-content: start;
    button:first-child {
      margin-right: 15px;
    }
    @media (max-width: 330px) {
      button:first-child {
        margin-right: 0;
      }
      justify-content: space-evenly;
    }
  }
  .footer-body {
    display: grid;
    grid-template-columns: 300px 1fr;
    padding-top: 120px;
    padding-bottom: 55px;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
  }
  .footer-left {
    margin-left: 13%;
    top: 20%;
    img {
      margin-bottom: 20px;
      width: 219px;
      height: 63px;

      display: block;
    }
  }
  .footer-right {
    display: flex;
    justify-content: space-evenly;
    ul {
      li {
        cursor: pointer;
        font-size: 23px;
        line-height: 28px;
        margin-top: 14px;
      }
    }
  }
  &__items {
    display: flex;
    padding-bottom: 57px;
    padding-top: 150px;
    align-items: center;
    justify-content: space-evenly;
    .footer__icons {
      display: flex;
      width: 450px;
      justify-content: space-evenly;
      img {
        object-fit: contain;
      }
    }
  }
  @include for-small-phone-only {
    padding-top: 50px;

    .our-app {
      border-radius: 50px;
      padding: 30px;
      .our-app__iphone {
        display: none;
      }

      h2 {
        font-size: 40px;
      }
      strong {
        font-size: 25px;
      }
    }
    .footer-body {
      display: flex;
      flex-wrap: wrap;
      padding-top: 100px;
      padding-bottom: 20px;
      font-size: 15px;
      text-align: center;
      .footer-left {
        display: block;
        margin: 0 auto 20px auto;
        img {
          margin-bottom: 0px;
          width: 150px;
        }
      }
      .footer-right {
        flex-wrap: wrap;
        ul {
          margin-top: 5px;
          font-size: 20px;
          li {
            width: 300px;
            font-size: 19px;
            margin-top: 5px;
          }
        }
      }
    }
    &__items {
      padding-bottom: 20px;
      padding-top: 50px;
      justify-content: center;
      display: block;
      text-align: center;
      p {
        font-size: 15px;
        margin-top: 20px;
      }
      .footer__icons {
        justify-content: space-evenly;
        width: auto;
        img {
          object-fit: contain;
        }
      }
    }
  }
  @include for-tablet-portait-only-and-for-tablet-landscape-only {
    .our-app {
      .our-app__iphone {
        width: 34%;
        top: 40%;
        right: 0;
      }
    }
    .footer-body {
      padding-top: 155px;
      padding-bottom: 20px;
      font-size: 15px;
      text-align: center;
      .footer-left {
        display: block;
        margin: 0 auto 20px auto;
        img {
          margin-bottom: 0px;
          width: 150px;
        }
      }
      .footer-right {
        display: grid;
        grid-template-columns: 1fr 1fr;
        flex-wrap: wrap;
        ul {
          margin-top: 5px;
          font-size: 20px;
          li {
            font-size: 19px;
            margin-top: 5px;
          }
        }
      }
    }
    &__items {
      display: block;
      text-align: center;
      padding-bottom: 27px;
      padding-top: 50px;
      p {
        padding-top: 20px;
      }
      .footer__icons {
        justify-content: space-evenly;
        margin: 0 auto;
        img {
          object-fit: contain;
        }
      }
    }
  }
}
