.benefits {
  margin-top: 100px;
  h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin-top: 85px;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  .cards {
    color: $white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    .card {
      margin-top: 20px;
      width: 420px;
      height: 460px;
      border-radius: 40px;
      padding: 50px;
      strong {
        font-weight: 700;
        font-size: 32px;
        line-height: 120%;
      }
      p {
        margin-top: 15px;
        font-weight: 500;
        font-size: 23px;
        line-height: 140%;
      }
      img {
        object-fit: contain;
        display: block;
        margin-bottom: 36px;
      }
    }
  }
  @include for-small-phone-only {
    h2 {
      font-size: 29px;
    }
    .cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      .card {
        margin-top: 20px;
        width: 350px;
        height: 360px;
        padding: 20px;
        strong {
          font-size: 25px;
        }
        p {
          font-size: 19px;
        }
      }
    }
  }
  @include for-tablet-portait-only-and-for-tablet-landscape-only {
    .cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }
}
